# Python Bytecode
__pycache__/
*.py[cod]
*$py.class

# Django Specific
*.log
*.pot
*.pyc
*.sqlite3

# Environments
venv/
ENV/
.env

# Static and Media Files
/staticfiles/
/media/

# Testing
.coverage
.tox/

# IDEs and Editors
.idea/
.vscode/
*.swp

# Node Modules (if applicable)
node_modules/

# MacOS Files
.DS_Store

# Windows Files
Thumbs.db