*{
    box-sizing: border-box;
    transition: 0.2s all ease-in-out;
   }
body{
    display: flex;
    flex-direction: column;
    justify-content: center; /* Horizontally center children */
    align-items: center;    /* Vertically center children */
    background-color: #d9d9d9;
}
/*Columns: 3*/
.container{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    height: 100vh;
}
/* Form styling*/
.shadow-wrap{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    gap: 24px;
    border: 1px solid #fff;
    border-radius: 8px;
    background-color:#fff;
   }
.form-wrap form *{
display: block;
width: 100%;
}
.form-wrap form label{
    margin-bottom: 2px;
    font-size: 14px;
    }
.form-wrap form input{
    padding: 10px 10px;
    border-radius: 5px;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid #DAE1F5;
    background: #FFF; 
    color: #545D7A; 
    width: 270px;
    }
.form-dropdown{
    padding: 10px 10px;
    border-radius: 5px;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid #DAE1F5;
    background: #FFF; 
    color: #545D7A; 
    width: 270px;
    }
#id_username{
    margin-bottom: 20px;
    }
.form-wrap button{
    border-radius: 5px;
    border: 1px solid transparent;
    background: #2c2c2c;
    color: #FFF;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    padding: 12px;
    gap: 8px;
    margin-top: 30px;
    line-height: 26px; 
    }
.form-wrap button:hover{
    background-color: #fff;
    color: #10182F;
    border-color: #10182F;
    }

/*Link styling*/
.signup-link{
    color:#2c2c2c;
}
.signup-link:hover{
    text-decoration: underline;
    }

/* Logout button styling */
.logout-btn {
    display: inline-block;
    border-radius: 5px;
    padding: 12px;
    font-size: 16px;
    color: #fff;
    background-color: #2c2c2c; /* Change this to the color you want */
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.logout-btn:hover {
    background-color: #fff;
    color: #10182F;
    border-color: #10182F;
}