{% extends "base.html" %}

{% block content %}

<div class="shadow-wrap">
    <h3>Login</h3>
    <div class="form-wrap">
    <form method="POST">
        {% csrf_token %}
        <label for="email">Email</label>
        <input type="email" name="email" id="email" required>
        <br>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required>
        <br>
        <button type="submit">Login</button>
<form>
</div>
<a class="signup-link" href={% url "base:signup_view" %}>Signup</a>
</div>
{% endblock content %}