{% extends "base.html" %}

{% block content %}
<div class="shadow-wrap">
    <div class="form-wrap">
        <h3>Login</h3>

    <form method="POST">
        {% csrf_token %}
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" required>
        <br>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required>
        <br>
        <button type="submit">Login</button>
<form>

<a class="signup-link" href={% url "base:signup_view" %}>Signup</a>

</div>
</div>

{% endblock content %}