{%extends 'base.html'%}

{% block title %}Resend email verification{% endblock title %}
{% block content %}
<div class="shadow-wrap">
    <div class="form-wrap">
        <h3>Resend email verification</h3>
        <p>Enter the credentials associated with your GreenGrove account.</p>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            {% if messages %}
            <ul class="messages">
            {% for message in messages %}
                <li class="{{ message.tags }}">
                    {{ message }}
                </li>
            {% endfor %}
            </ul>
            {% endif %}
            <label for="email">Email</label>
            <input type="email" name="email" id="email" required>
            <button type="submit">Resend Email Verification</button>
        </form>
    </div>
    <a class="signup-link" href="{% url 'base:login' %}">Back to Login</a>
</div>
{% endblock content %}