{% extends "base.html" %}

{% block content %}
<body>
    <div class="alert-box">
        <span class="close-alert-btn" onclick="this.parentElement.style.display='none';">&times;</span>
        {% if messages %}
            <ul class="messages">
            {% for message in messages %}
                <li class="{{ message.tags }}">
                    {{ message }}
                </li>
            {% endfor %}
            </ul>
        {% endif %}
    </div>
    <div class="shadow-wrap">
        <h3>User List</h3>
        <div class="container">
        <form method="POST">
            {% csrf_token %}
            <table>
                <thead>
                    <tr>
                        <th>Email</th>
                        <th>Role</th>
                        <th>Status</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Contact Number</th>
                        <th>Preferences</th>
                        <th>Email Verified</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <td>{{ user.email }}</td>
                        <td>{{ user.role }}</td>
                        <td>{{ user.status }}</td>
                        <td>{{ user.profile.first_name }}</td>
                        <td>{{ user.profile.last_name }}</td>
                        <td>{{ user.profile.contact_number }}</td>
                        <td>{{ user.profile.preferences }}</td>
                        <td>{{ user.email_verified }}</td>
                        <td>
                            {% if user.status == "Active" %}
        <form method="POST" action="{% url 'base:user_list' %}">
          {% csrf_token %}
          <input type="hidden" name="user_id" value="{{ user.user_id }}">
          <input type="hidden" name="action" value="deactivate">
          <button type="submit" class="deactivate-btn">Deactivate</button>
        </form>
      {% else %}
        <form method="POST" action="{% url 'base:user_list' %}">
          {% csrf_token %}
          <input type="hidden" name="user_id" value="{{ user.user_id }}">
          <input type="hidden" name="action" value="activate">
          <button type="submit" class="activate-btn">Activate</button>
        </form>
      {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </form>
        </div>
    </div>
</body>
<a class="logout-btn" href="{% url 'base:home' %}">Back to Home</a>
{% endblock content %}